* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* 新增以确保边框和内填充不会改变元素宽度 */
}

body {
    background: linear-gradient(to bottom, #ffffff, #b6dce7); /* 从白色到蓝色的渐变 */
}

.header {
    max-width: 1200px; /* 替代固定宽度，以支持小屏幕 */
    width: 100%; /* 确保在小屏幕上也能充满容器 */
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    background: #FFFFFF;
}

.logo {
    float: left;
}

.logo h3 {
    font-size: 20px;
    color: aqua;
    letter-spacing: 2px;
    position: absolute;
    top: 0;
    left: 50px;
    width: 100px; 
    height: auto;
}

.nav {
    float: right;
}

.nav a {
    display: inline-block;
    text-align: center;
    margin-left: 50px;
    text-decoration: none;
}

.banner {
    width: 100%;
    height: 350px;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about, .vedio {
    max-width: 1200px; 
    width: 95%; 
    margin: 200px auto 20px auto;
    text-align: center;
}

.lav {
    background: #f2f2f2;
}

/* 媒体查询用于小屏幕设备，调整网格布局和字体大小 */
@media (max-width: 768px) {
    .header, .about, .vedio {
        margin: 0 10px; 
        width: auto; 
    }

    .nav a {
        margin-left: 20px; 
    }

    .logo h3, .nav a {
        font-size: 16px; 
    }
}
.log {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px; 
    height: auto;/* 根据实际需要调整Logo的尺寸 */
}
.music-control {
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 32px; /* 或者根据你的图标大小调整 */
    height: 32px;
}
